<a href="https://colab.research.google.com/github/med0504/Python-Fastfutures/blob/main/Fast_futures_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("DAS WARUDO")

DAS WARUDO

Getting started in **Python**

In [ ]:
(1+1 - 2 *6 /2 ) * -18

72.0

In [ ]:
print("DA WARUDO") #JOJO!

IT IS ME **DIO!**

In [ ]:
x = {"Apple": 1, "Mango": 2, "Bannana": 4}

type(x)

dict

In [ ]:
print(x)

{'Apple': 1, 'Mango': 2, 'Bannana': 4}

In [ ]:
country_name = "United Kingdom"
trading_bloc = "EU"
pop = 80213077.445

In [ ]:
print(
    len(country_name),
    type(pop)
)

14 <class 'int'>

In [ ]:
print(round((pop), 2))

80213077.44

In [ ]:
lol = "There are currently 3 people \n who can be seen as \"smart\""
print(lol)

lol[18]  #Strings can be indexed by location like normal arrays, start from 0, spaces are included
lol_1 = lol[:10] #String slicing 
print("Slcing pt 1\n",lol_1)
lol_2 = lol[10:]
print("Slicing part 2\n", lol_2)
lol_3 = lol[::10] #every 10th character
print("Slicing part 3\n", lol_3)
print("Slicing part 4\n", lol[::-1]) #Wriie everything in reverse

There are currently 3 people
 who can be seen as "smart"
Slcing pt 1
 There are
Slicing part 2
 currently 3 people
 who can be seen as "smart"
Slicing part 3
 Tc3 e"
Slicing part 4
 "trams" sa nees eb nac ohw
 elpoep 3 yltnerruc era erehT

In [ ]:
#Strings can be concentated example
lol_supreme = "HEHEHEHE \n But I am the smartest of them all muahahahaha. \n All according to my Keikaku"

print(lol + "\n" + lol_supreme)

#works with numbers

area_code = "+44"
phone_number = "7475868265\n"

UK_phone = area_code + phone_number

print(UK_phone*4) # works with multiplication

There are currently 3 people
 who can be seen as "smart"
HEHEHEHE
 But I am the smartest of them all muahahahaha.
 All according to my kekkuku
+447475868265
+447475868265
+447475868265
+447475868265

In [ ]:
mystring = "Hello world, I am Mo's laptop, I am sentient."
mystring.capitalize() # Makes first word capitlaised and others lower
mystring.find("e") #finds letter e
mystring.count("l") # How many L's are there
mystring.upper() # Capitalise everything
mystring.split(",") # Split sentence by comma

['Hello world', " I am Mo's laptop", ' I am sentient.']

In [ ]:

myphone = "My phone number is {}" # You can add numbers in the form of strings or just numbers into strings where the curly brackets are. using the format function seen below
Home_phone = 1322284756

print(myphone.format(Home_phone))

shopping = "I need {} apples, {} banana and {}kg flour from the store today! \n Make sure you give me my money"
apples = 5
banana = 10
flour = 10
print(shopping.format(apples, banana, flour))

My phone number is 1322284756
I need 5 apples, 10 banana and 10kg flour from the store today!
 Make sure you give me my money

In [ ]:
shopping_1 = "I need {d} apples, {e} banana and {f}kg flour from the store today! \n Make sure you give me my money"
apples = 5
banana = 10
flour = 10
print(shopping_1.format(d=apples,e=banana,f=flour))

I need 5 apples, 10 banana and 10kg flour from the store today!
 Make sure you give me my money

In [ ]:
shopping_2 = "I need {2} apples, {1} banana and {0}kg flour from the store today! \n Make sure you give me my money"
apples = 5
banana = 10
flour = 10
print(shopping_2.format(flour, banana, apples))

I need 5 apples, 10 banana and 10kg flour from the store today!
 Make sure you give me my money

In [ ]:
# We can also use % as a placeholder in strings %s for strings %d for digits %f for floating

print("I am running out of %s to say" %("words"))
M

I am running out of words to say

In [ ]:
POS = 18
while POS == int(POS) :
  print(POS)
  if POS>0:
    print("The number is postive")
    POS = POS - 8
  elif POS<0:
    print("The number is negative")
    POS = POS + 2
  else:
    print("The number is zero") 
    break

18
The number is postive
10
The number is postive
2
The number is postive
-6
The number is negative
-4
The number is negative
-2
The number is negative
0
The number is zero

In [ ]:
for i in range(0,11):
  print("This is the {}th iteration".format(i))
print("We are now finished")

This is the 0th iteration
This is the 1th iteration
This is the 2th iteration
This is the 3th iteration
This is the 4th iteration
This is the 5th iteration
This is the 6th iteration
This is the 7th iteration
This is the 8th iteration
This is the 9th iteration
This is the 10th iteration
We are now finished

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j,)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [ ]:
colours = ["Blue", "Red", "Yellow", "Grey"]
cars = ["Ford", "BMW", "Mercedes", "Bentley"]

for colour in colours:
  for car in cars:
    print("I have a",colour, car)

I have a Blue Ford
I have a Blue BMW
I have a Blue Mercedes
I have a Blue Bentley
I have a Red Ford
I have a Red BMW
I have a Red Mercedes
I have a Red Bentley
I have a Yellow Ford
I have a Yellow BMW
I have a Yellow Mercedes
I have a Yellow Bentley
I have a Grey Ford
I have a Grey BMW
I have a Grey Mercedes
I have a Grey Bentley

In [ ]:
numbers = range(0,101)

for number in numbers:
  if number%2 == 0:
    print(number, "is an even number")
  else:
    print(number, "is an odd number")

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number
20 is an even number
21 is an odd number
22 is an even number
23 is an odd number
24 is an even number
25 is an odd number
26 is an even number
27 is an odd number
28 is an even number
29 is an odd number
30 is an even number
31 is an odd number
32 is an even number
33 is an odd number
34 is an even number
35 is an odd number
36 is an even number
37 is an odd number
38 is an even number
39 is an odd number
40 is an even number
41 is an odd number
42 is an even number
43 is an odd number
44 is an even number
45 is an odd number
46 is an even number
47 is an odd number
48 is an even number
49 is an odd number
50 is an even number
51 is an odd number
52 is an even number
53 is an odd number
54 is an even number
55 is an odd number
56 is an even number
57 is an odd number
58 is an even number
59 is an odd number
60 is an even number
61 is an odd number
62 is an even number
63 is an odd number
64 is an even number
65 is an odd number
66 is an even number
67 is an odd number
68 is an even number
69 is an odd number
70 is an even number
71 is an odd number
72 is an even number
73 is an odd number
74 is an even number
75 is an odd number
76 is an even number
77 is an odd number
78 is an even number
79 is an odd number
80 is an even number
81 is an odd number
82 is an even number
83 is an odd number
84 is an even number
85 is an odd number
86 is an even number
87 is an odd number
88 is an even number
89 is an odd number
90 is an even number
91 is an odd number
92 is an even number
93 is an odd number
94 is an even number
95 is an odd number
96 is an even number
97 is an odd number
98 is an even number
99 is an odd number
100 is an even number

In [ ]:
names = ["Mohamed", "Muhammad", "Mo", "Bob"]

for name in names:
  if name == "Bob":
    print(name, "is an ugly name")
    continue
  print(name, "is a special name")

Mohamed is a special name
Muhammad is a special name
Mo is a special name
Bob is an ugly name

In [ ]:
Register = ["Mohamed", "Sean", "Moses", "Bob", "Harry", "Kwaku", "David", "Stephanie", "Rhea", "Emma"]
Attended = ["Mohamed", "Sean", "Moses", "Bob", "Kwaku", "David", "Rhea", "Emma"]
for name in Register:
  if name in Attended:
    print(name, "is in today")
  else:
    print(name, "is not in today")

no_attendence = [name for name in Register if name not in Attended]

extension = ["Hamza", "Ruby", "Rhea K"] # 3 PEOPLE ADDED TO REGISTER
Register.extend(extension)
Attended.extend(extension)

for name in Register:
  if name in Attended:
    print(name, "is in today")
  else:
    print(name, "is not in today")

no_attendence = [name for name in Register if name not in Attended]
no_attendence

Mohamed is in today
Sean is in today
Moses is in today
Bob is in today
Harry is not in today
Kwaku is in today
David is in today
Stephanie is not in today
Rhea is in today
Emma is in today
Mohamed is in today
Sean is in today
Moses is in today
Bob is in today
Harry is not in today
Kwaku is in today
David is in today
Stephanie is not in today
Rhea is in today
Emma is in today
Hamza is in today
Ruby is in today
Rhea K is in today

['Harry', 'Stephanie']

In [ ]:
Tech_companies = ["Facebook", "Tiktok", "Google"]
more = ["Youtube", "Capgemini", "IBM", "Google", "Twitter","Facebook", "EY", "FDM", "Avado"]
for company in more:
  if company in Tech_companies:
    print("Yes, I already wrote {} down".format(company))
  else:
    print("I did not have {} written down".format(company))
    Tech_companies.append(company)

Tech_companies

extra = input("Please input tech company name(Capitalised)")
if extra in Tech_companies:
  print("Yes, I already wrote {} down".format(extra))
else:
  print("I did not have {} written down".format(extra))
  Tech_companies.append(extra)

I did not have Youtube written down
I did not have Capgemini written down
I did not have IBM written down
Yes, I already wrote Google down
I did not have Twitter written down
Yes, I already wrote Facebook down
I did not have EY written down
I did not have FDM written down
I did not have Avado written down
Please input tech company name(Capitalised)Meta
I did not have Meta written down

In [ ]:
for element in range(len(Tech_companies)):
  print(element, Tech_companies[element])

0 Facebook
1 Tiktok
2 Google
3 Youtube
4 Capgemini
5 IBM
6 Twitter
7 EY
8 FDM
9 Avado
10 Meta

In [ ]:
string = "Python"

letters =[letter.upper() for letter in string]
print(letters)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mydict = {"Employee": "Mohamed","Salary":30000, "department":"sales"} 
print(mydict)

{'Employee': 'Mohamed', 'Salary': 30000, 'department': 'sales'}

In [ ]:
mydict.update({"Salary":50000, "level": 5})

print(mydict)

{'Employee': 'Mohamed', 'Salary': 50000, 'department': 'sales', 'level': 5}

In [ ]:
mytuple = ("Samsung", "Apple", "Google") #immutable lists
print(mytuple)

a_list = list(mytuple)
a_list[2] = "Huwaei"
mytuple = a_list
print(mytuple)

('Samsung', 'Apple', 'Google')
['Samsung', 'Apple', 'Huwaei']